<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    <h2>ユーザーアカウント</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス%><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %><br />
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: 'action-btn' %>
      </div>
    <% end %>

    <h2>ユーザーアカウント削除</h2>

    <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: 'delete-btn' %>
  </div>
</div>
