<%= form_for(@recommend) do |f| %>
  <% if @recommend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommend.errors.count, "error") %> prohibited this recommend from being saved:</h2>

      <ul>
      <% @recommend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :本文 %><br>
    <%= f.text_area :content, class: "form-control", rows: 20 %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn-default pull-right" %>
  </div>
<% end %>
