<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">
    <h1 class="text-center">おすすめ</h1>

    <%= link_to '＋ 記事を作る', new_recommend_path, class: 'btn-recommend text-center btn-block' %>

    <div class="objectopen">
      <label for="oo-cap1">おすすめとは？▼</label>
      <input id="oo-cap1" type="checkbox">
      <div class="oo-cont2">
        <p>このおすすめ機能によって、それぞれのユーザーがおすすめするゲームを記事にして共有し合う事が出来ます。</p>
        <p>”記事を作る”から自分がおすすめしたいゲームを紹介して面白いゲームを共有していきましょう。</p>
      </div>
    </div>

    <div class="recommend-wrapper">
      <h3 class="recommend-new">新着記事</h3>
      <% @recommends.each do |recommend| %>
        <%= link_to recommend_path(recommend.id) do %>
        <div class="recommend-box">
          <ul>
            <li><%= recommend.title %></li>
          </ul>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="recommend-wrapper">
      <h3 class="recommend-new">いいね記事</h3>
      <% @like_recommends.each do |lr| %>
        <%= link_to recommend_path(lr) do %>
          <div class="recommend-box">
            <ul>
              <li><%= lr.pop %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="recommend-wrapper">
      <h3 class="recommend-like">いいねした記事</h3>
      <% @my_like_recommends.each do |my_like_recommend| %>
        <%= link_to my_like_recommend.recommend do %>
          <div class="recommend-box">
            <ul>
              <li><%= my_like_recommend.recommend.title %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="recommend-wrapper">
      <h3 class="recommend-post">投稿した記事</h3>
      <% @my_recommends.each do |my_recommend| %>
        <%= link_to my_recommend do %>
          <div class="recommend-box">
            <ul>
              <li><%= my_recommend.title %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
