<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">
    <div class="recommend-title">
      <h3><%= @recommend.title %></h3>
    </div>

    <div  class="recommend-user">
      <%= @recommend.user.name %>
      <div class="pull-right">
        作成日時：<%= @recommend.created_at.to_s(:published_on) %>
      </div>
    </div>

    <div class="recommend-content">
      <%= markdown(@recommend.content).html_safe %>
    </div>

    <%= render 'social' %>
    <%= render 'like' %>

    <% if current_user.id == @recommend.user_id %>
      <%= link_to '編集', edit_recommend_path(@recommend), class: "action-btn" %>
    <% end %>
    <%= link_to '戻る', recommends_path, class: "action-btn" %>
  </div>
</div>
