<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
    <div class="recommend-title">
      <h3><%= @recommend.title %></h3>
    </div>

    <div  class="recommend-user">
      <%= @recommend.user.name %>
      <div class="pull-right">
        作成日時：<%= @recommend.created_at.to_s(:published_on) %>
      </div>
    </div>

    <div class="recommend-content">
      <%= markdown(@recommend.content).html_safe %>
    </div>

    <div class="recommend-social">
      <% if current_user.likes.find_by(recommend_id: @recommend.id) %>
        <%= link_to 'いいね！を取り消す', unlike_path(@recommend.id), method: :delete %>
      <% else %>
        <%= link_to 'いいね！', like_path(@recommend.id), method: :post %>
      <% end %>

      <div class="twitter-btn">
        Twitter
      </div>
      <div class="twitter-btn">
        Twitter
      </div>
      <div class="twitter-btn">
        Twitter
      </div>
    </div>

    <div class="recommend-link">
      link
    </div>

    <%= link_to '編集', edit_recommend_path(@recommend) %> |
    <%= link_to '戻る', recommends_path %>
  </div>
</div>
