<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">
    <div class="recommend-title">
      <h3><%= @recommend.title %></h3>
    </div>

    <div  class="recommend-user">
      <%= @recommend.user.name %>
      <div class="pull-right">
        作成日時：<%= @recommend.created_at.to_s(:published_on) %>
      </div>
    </div>

    <div class="recommend-content">
      <%= markdown(@recommend.content).html_safe %>
    </div>

    <div class="recommend-social">
      <% if current_user.likes.find_by(recommend_id: @recommend.id) %>
        <%= link_to 'いいね！を取り消す', unlike_path(@recommend.id), method: :delete %>
        <small>+<%= @recommend.likes.count %></small>
      <% else %>
        <%= link_to 'いいね！', like_path(@recommend.id), method: :post %>
        <small>+<%= @recommend.likes.count %></small>
      <% end %>

      <div class="sns-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="sakawatariatumu">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <div class="sns-btn">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=1904030416491235";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      </div>

      <div class="sns-btn">
        <script src="https://apis.google.com/js/platform.js" async defer>
          {lang: 'ja'}
        </script>
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </div>
    </div>
    <div class="recommend-link">
      <h3>Link</h3>
      <% @recommend.game_recommends.each do |game_recommend| %>
        <%= link_to game_recommend.game.title, game_path(game_recommend.game_id) %>
      <% end %>
    </div>

    <% if current_user.id == @recommend.user_id %>
      <%= link_to '編集', edit_recommend_path(@recommend), class: "action-btn" %>
    <% end %>
    <%= link_to '戻る', recommends_path, class: "action-btn" %>
  </div>
</div>
