<%= form_for(@game) do |f| %>
    <div class="field tag-field">
        <%= f.label :タグ一覧 %><br>
        <ul id="game-tags"></ul>
    </div>

    <div class="field tag-field">
      <%= f.fields_for :game_detail do |gd| %>
        <%= gd.label :公式サイト %><br />
        <%= gd.url_field :official_site, class: "form-control" %>
        <%= gd.label :Wikipedia %><br />
        <%= gd.url_field :wikipedia, class: "form-control" %>
        <%= gd.label :攻略サイト %><br />
        <%= gd.url_field :solution_site, class: "form-control" %>
        <%= gd.label :公式ストア %><br />
        <%= gd.url_field :official_store, class: "form-control" %>
        <%= gd.label :Amazon %><br />
        <%= gd.url_field :amazon, class: "form-control" %>
        <%= gd.label :ヤフーショッピング %><br />
        <%= gd.url_field :yahoo_shop, class: "form-control" %>
        <%= gd.label :ヨドバシカメラ %><br />
        <%= gd.url_field :yodobashi, class: "form-control" %>
        <%= gd.label :Youtube %><br />
        <%= gd.url_field :youtube, class: "form-control" %>
        <%= gd.label :ニコニコ動画 %><br />
        <%= gd.url_field :niconico, class: "form-control" %>
        <%= gd.label :クリア時間 %><br />
        <%= gd.number_field :clear_time, in:1..100, class: "form-control" %>
      <% end %>
    </div>

    <div class="actions">
        <%= f.submit "登録する", class: 'action-btn pull-right' %>
    </div>
<% end %>
