<div class="social-wrapper">
  <% if user_signed_in? %>
    <% if @game.stock_user(current_user.id) %>
      <%= button_to game_stock_path(@game, @stock, game_id: @game.id), method: :delete, class: "stock-button", remote: false do %>
        <span>ストック</span>
        <%= image_tag("stock.png", alt: 'stock', :size => "20x20") %>
        <span>
          <%= @game.stocks_count %>
        </span>
      <% end %>
    <% else %>
      <%= button_to game_stocks_path(@game), class: "stock-button", remote: false do %>
        <span>ストック</span>
        <%= image_tag("no-stock.png", alt: 'stock', :size => "20x20") %>
        <span>
          <%= @game.stocks_count %>
        </span>
      <% end %>
    <% end %>
  <% else %>
  　<span>ストック</span>
    <%= image_tag("stock.png", alt: 'stock', :size => "20x20") %>
      <span>
        <%= @game.stocks_count %>
      </span>
  <% end %>

  <div class="sns-btn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="sakawatariatumu">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <div class="sns-btn">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=1904030416491235";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  </div>

  <div class="sns-btn">
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'ja'}
    </script>
    <div class="g-plusone" data-size="medium" data-annotation="none"></div>
  </div>
</div>
