<div class="search_option">
    <%= page_entries_info @softwares %>

    <div class="fillter-label">
        <%= sort_link @q, :title, "名前順" %>
        <%= sort_link @q, :id, "発売日順" %>
    </div>
</div>

<div class="searchbox_wrapper">
  <% @softwares.each do |product| %>
    <div class="software_wrapper">
      <%= link_to game_path(product.id) do %>
        <div class="software_image">
            <%= image_tag 'packege02.png', :size => '160x200' %>
        </div>
        <div class="software_basic">
          <ul>
            <li><%= product.title %></li>
            <li><%= product.maker %></li>
            <li><%= product.maker_genre %></li>
            <li><%= product.released_date %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @softwares %>