<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>メーカー</th>
            <th>メーカージャンル</th>
            <th>発売日</th>
        </tr>
    </thead>

    <tbody>
        <% @search_games.each do |product| %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.maker %></td>
<!--            <td><%= product.genre %></td>-->
            <td><%= product.maker_genre %></td>
            <td><%= product.released_date %></td>
        </tr>
        <% end %>
    </tbody>
</table>