<!DOCTYPE html>
<html>
<head>
  <title>Game Quipe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <%= link_to 'Game Quipe', root_path %>
    </header>

<!--
    <nav>
        <ul>
            <li><a href="#">Game Quipeとは</a></li>
            <li><a href="#">おすすめ</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
-->
    
    <dl class="searchbox">
        <%= search_form_for @search, url: games_path do |f| %>
        <dt><%= f.text_field :title_cont ,placeholder: '検索したいタイトル名を入力してください' %></dt>
        <dd><%= f.submit ("search") , class: 'search-btn'%></dd>
        <% end %>
    </dl>
<%= yield %>

    <footer>
        <p> &copy; 2016 Copyright KAZAKUMO GAMES Corp.</p>
    </footer>
</body>
</html>
