<!DOCTYPE html>
<html>
<head>
  <title>Game Quipe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <h1>Game Quipe</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Game Quipeとは</a></li>
            <li><a href="#">おすすめ</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    
    <dl class="searchbox">
        <%= search_form_for @search, url: games_path do |f| %>
        <dt><%= f.text_field :title_cont ,placeholder: '検索したいタイトル名を入力してください' %></dt>
        <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
        <% end %>
    </dl>

<%= yield %>

    <footer>
        <p>運営会社KAZAKUMO GAMES株式会社</p>
        <p>© 2016 Copyright KAZAKUMO GAMES Corp.</p>
    </footer>
</body>
</html>
