<!DOCTYPE html>
<html>
<head>
  <title>Game Quipe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash bg-primary"><%= notice %><%= alert %></div>
<header>
  <ul class="header-login">
    <% if user_signed_in? %>
      <li><%= link_to 'マイページ', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
    <% end %>
  </ul>
  <div class="header-logo">
    <%= link_to 'Game Quipe', root_path %>
  </div>
  <%= image_tag("quipe.png", :alt => 'game_quipe', :size => "150x20", :class => 'header-icon') %>
</header>

<nav>
  <ul>
    <li>
      <%= link_to recommends_path do  %>
        <%= image_tag("calendar.png", :alt => 'スケジュール', :size => "20x20", :class => 'nav-icon') %>
        <span>スケジュール</span>
      <% end %>
    </li>
    <li>
      <%= link_to recommends_path do  %>
        <%= image_tag("database.png", :alt => 'データベース', :size => "20x20", :class => 'nav-icon') %>
        <span>データベース</span>
      <% end %>
    </li>
    <li>
      <%= link_to recommends_path do  %>
        <%= image_tag("recommend.png", :alt => 'おすすめ', :size => "20x20", :class => 'nav-icon') %>
        <span>おすすめ</span>
      <% end %>
    </li>
  </ul>
</nav>

<dl class="searchbox">
  <%= search_form_for @search, url: games_path do |f| %>
  <dt><%= f.text_field :title_cont ,placeholder: '検索したいタイトル名を入力してください' %></dt>
  <dd><%= f.submit ("search") , class: 'search-btn'%></dd>
  <% end %>
</dl>

<%= yield %>

<footer>
  <p> &copy; 2016 Copyright KAZAKUMO GAMES Corp.</p>
</footer>
</body>
</html>
